@media (max-width: 640px), (max-height: 896px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
    height: 896px;
    background-color: #f9f1ec;
    border: 1px solid black;
    border-radius: 30px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: 370px;
    height: 850px;

    background-color: #c8d7c8;

    border-radius: 30px;
  }

  header {
    margin-top: 20px;
    width: 330px;
    height: 80px;
  }

  h1 {
    margin: 0;
    color: #6e4915;
    font-family: "Krona One", serif;
    font-style: normal;
    font-size: 28px;
    text-align: center;
  }

  .overview {
    width: 331px;
    height: 250px;
    border: 7px solid #96ac92;
    border-radius: 40px;

    font-size: 20px;
  }

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background-color: white;
    color: #6e4915;
    font-family: "Jura", serif;
    text-align: center;
    border-radius: 35px 35px 0px 0px;
  }

  .bottom {
    height: 200px;
    border-radius: 0px 0px 35px 35px;
    background: whitesmoke;
  }

  .camera-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    margin: 70px;
  }

  button {
    border-radius: 50%;
    margin-top: 25px;
    width: 85px;
    height: 85px;
    background-color: #cfe2f3;
    border: none;
    color: #6e4915;
    font-size: 50px;
  }

  .camera-btn p {
    margin-top: 10px;
    height: 12px;
    color: #6e4915;
    font-family: "Jura", serif;
    font-size: 12px;
  }
}
