@media(max-width: 640px){

    body {
      border: 1px solid black;
      border-radius: 30px;

      width: 414px;
      height: 896px;

      padding: 20px;

      background-color: #f9f1ec;
    }
 
    main {
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;

        color: #6e4915;
    }

    .content{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 100%;

        gap: 38px;
    }

    .skin-analysis{
        border: 7px solid #cfe2f3;
        border-radius: 30px;

        width: 390px;
        height: 350px;

        background-color: #ddebf7;
    }

    .skin-issues{
        border: 7px solid #c4d1c2;
        border-radius: 30px;

        width: 390px;
        height: 370px;

        text-align: left;
        background-color: #dce8db;
    }
 
    .top1 {
        text-align: center;
        padding: 10px;
        border-radius: 25px 25px 0px 0px;

        background-color: #f1f7fc;
        font-size: 18px;
        font-family: "Krona One", serif, normal;
    }

    .top2 {
        text-align: center;
        padding: 10px;
        border-radius: 25px 25px 0px 0px;

        background-color: #edf2ed;
        font-size: 18px;
        font-family: "Krona One", serif, normal;
    }

    .analysis{
        padding: 10px;

        /* border: 2px dotted rgb(159, 179, 221); */
        height: 260px;

        text-align: center;
        font-family: "Jura", serif, normal;
    }

    .issues{
        display: flex;
        flex-direction: column;

        gap: 10px;

        margin: 10px;
        height: 300px;

        font-family: "Jura", serif, normal;
        overflow-y: auto;
    }

    .issues::-webkit-scrollbar {
        width: 7px;

        background:#9d9171;
        border-radius: 5px;
    }

    .issues::-webkit-scrollbar-thumb {
        background: #7a562a;
        border-radius: 5px;
    }

    .issue1, .issue2, .issue3{
        border-bottom: 2px solid #9d9171;
        margin-right: 10px;

        height: 120px;
        margin-bottom: 5px;

        flex-shrink: 0; 
    }

    .camera-btn{
        display: flex;
        justify-content: center;

        width: 100%;
        height: 118px;

        padding-top: 35px;
    }

    button{
        border-radius: 30px;
        border: 1px solid black;

        width: 160px;
        height: 56px;

        font-size: 20px;
        color: #6e4915;
        font-family: "Jura", serif, normal;
        background-color: #cfe2f3;
        border-color: #cfe2f3;

    } 
  }